
  <div class="containerCard">
    <div class="cardTask">
      <h4 class="cardTitle">Ready</h4>
      <div class="app-task-container">
        <ul class="ulList" id="ready"></ul>
      </div>
      <button  id="ready-addtask-btn"   class="buttonCard">
        + Add Card
      </button>
    </div>
  
    <div class="cardTask">
      <h4 class="cardTitle">In Progress</h4>
      <div id="dragDrop" class="app-task-container">
        <ul class="ulList" id="inprogress"></ul>
      </div>
      <button
        class="buttonCard"
        id="inprogress-addtask-btn"
        type="button"
      >
        + Add Card
      </button>
    </div>
  
    <div class="cardTask">
      <h4 class="cardTitle">Finished</h4>
      <div class="app-task-container">
        <ul class="ulList" id="finished"></ul>
      </div>
      <button
        class="buttonCard"
        id="finished-addtask-btn"
        disabled
       
      >
        + Add Card
      </button>
    </div>
  </div>
</div>

<div class="modal-dialog modal-dialog-centered">
    
</div>






